html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
}

.content {
    height: 88% !important;
}

/* .fa-check {
    color: greenyellow;
}

.fa-times {
    color: red;
} */